{% extends 'layout.html' %}
 {% block body %}
<div class="" style="">

  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100" style="margin-left:300px;margin-top:30px;">
      <div class="col" >
        <p><span class="h2">Order by {{username}} placed on {{date}}</span><span class="h4"></span></p>
        
        {%for order in orders%}
        <div class="card mb-4">
          <div class="card-body p-4">

            <div class="row align-items-center">
              <div class="col-md-2">
                 
                <img src="{{order.img_url}}" alt="Generic placeholder image" style="height:160px" >
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2" >Name</p>
                  <p class="lead fw-normal mb-0">{{order.product}}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Quantity</p>
                  <p class="lead fw-normal mb-0">{{order.quantity}}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  
                  <p class="lead fw-normal mb-0">Rs. {{order.price}}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Total</p>
                  {%set tot=order.price|int *order.quantity%}
                  
                  <p class="lead fw-normal mb-0">Rs. {{tot}}</p>

                </div>


                 <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2"></p>
                  
                  
                </div>
              </div>

              
              </div>
            </div>

          </div>
        </div>
{%endfor%}
        <div class="card mb-5">
          <div class="card-body p-4">

            <div class="float-end">
              <p class="mb-0 me-5 d-flex align-items-center">
                <span class="small text-muted me-2">Order total:</span> <span class="lead fw-normal">Rs. {{totall}}</span>
              </p>
            </div>

          </div>
        </div>

<br>
      </div>
    </div>
  </div>
</div>
</body>

 {% endblock %}